ENV=development
NODE_ENV=development

DELOSI_CREDENTIAL={"pe_username_development":"USR_PH","pe_password_development":"CRm8nXeM","pe_client_id_development":"clientOrder","pe_client_secret_development":"secret","pe_host_development":"https://apiprod.franquiciasperu.com","pe_grant_type_development":"password"}
YC_CREDENTIAL={"pe_oauth2_url_development":"https://stage-yc-commerce.auth.us-east-1.amazoncognito.com/oauth2/token","pe_graphql_url_development":"https://api.staging.yumconnect.dev/ph_pe/business/graphql","pe_cognito_id_development":"4qrm3737b67uu68r7ll4a0blvd","pe_cognito_secret_development":"1gsb37dksufuio6vn1ql8ps5819j1ek5jjt897umg9ln8tetnc19","sandbox_oauth2_url_development":"https://yum-giam-connect.auth.us-east-1.amazoncognito.com/oauth2/token","sandbox_graphql_url_development":"https://api.staging.yumconnect.dev/phdv_sandbox/business/graphql","sandbox_cognito_id_development":"4qrm3737b67uu68r7ll4a0blvd","sandbox_cognito_secret_development":"1gsb37dksufuio6vn1ql8ps5819j1ek5jjt897umg9ln8tetnc19"}
YC_STORE_CREDENTIAL={"pe_oauth2_url_development":"https://stage-yc-commerce.auth.us-east-1.amazoncognito.com/oauth2/token","pe_graphql_url_development":"https://api.staging.yumconnect.dev/ph_pe/business/graphql","pe_cognito_id_development":"4qrm3737b67uu68r7ll4a0blvd","pe_cognito_secret_development":"1gsb37dksufuio6vn1ql8ps5819j1ek5jjt897umg9ln8tetnc19","sandbox_oauth2_url_development":"https://yum-giam-connect.auth.us-east-1.amazoncognito.com/oauth2/token","sandbox_graphql_url_development":"https://api.staging.yumconnect.dev/phdv_sandbox/business/graphql","sandbox_cognito_id_development":"4qrm3737b67uu68r7ll4a0blvd","sandbox_cognito_secret_development":"1gsb37dksufuio6vn1ql8ps5819j1ek5jjt897umg9ln8tetnc19"}
